<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://alpha-blog-360paradigm.herokuapp.com">360 Paradigm</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>